{% extends 'index.html' %}
{% load static %}
{% block title %}
Contacts
{% endblock %}

{% block content %}
    <section>
        <div class="contacts__item container">
            <div class="contact__information">
                <h2 class="contact__title">
                    Контакты
                </h2>
                <div class="work__time">
                    <img src="{% static 'img/contact/clock.svg' %}" alt="CLOCK" class="clock__work">
                    <div class="work__text">
                        <h4 class="info__work"> Режим работы </h4>
                        <h5 class="contact__info"> Пн-Сб c 9:00 до 18:00 <br>
                             Воскресенье - выходной.</h5>
                    </div>
                </div>
                <div class="work__phone">
                    <img src="{% static 'img/contact/Phone.svg' %}" alt="CLOCK" class="clock__work">
                    <div class="work__text">
                        <h4 class="info__work"> Телефон </h4>
                        <h5 class="contact__info">
                            <a href="tel:">+996 (776) 166-600 <br> </a>
                            <a href="tel:"> +996 (507) 009-909 <br></a>
                            <a href="tel:">+996 (700) 477-594</a>
                        </h5>
                    </div>
                </div>
                <div class="work__map">
                    <img src="{% static 'img/contact/map.svg' %}" alt="CLOCK" class="clock__work">
                    <div class="work__text">
                        <h4 class="info__work"> Адрес </h4>
                        <h5 class="contact__info">Бишкек, ул. Байтик Баатыра, 23А
                        </h5>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe class="map__full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.1891894366736!2d74.60860361627246!3d42.85307232539305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb630cf0ad899%3A0x33eafd369c38777f!2z0KDQtdC60LvQsNC80L3Qvi3Qn9GA0L7QuNC30LLQvtC00YHRgtCy0LXQvdC90LDRjyDQmtC-0LzQv9Cw0L3QuNGPICLQkNCg0JzQkNCU0JAi!5e0!3m2!1sru!2skg!4v1595422101351!5m2!1sru!2skg" frameborder="0" style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </section>
{% endblock %}